.header-style {
  color: #CAD5E2;
  font-weight: 700;
  font-size: 60px;
}
.icon-style {
  font-size: 50px;
  
}
.dealer-container h1 {
  font-weight: 600;
  
}
.bg-car-image{
  background-image: url("../../../image/bg-img/bg-car1.jpg");
  width: 100%;
  height: 100%;
  color: #CAD5E2;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
