.container-style h1{
  color: #414141;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.icon{
  color: #414141;
  font-weight: 800;
}
.icon-center-style{
  justify-content: center;
  align-self: center;
  display: flex;
}