.p-style p{
    margin: 0;
    text-align: start;
}
.heading{
    color: #CAD5E2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.bg-car-img{
    
  background-image: url("../../../image/bg-img/bg-car1.jpg");
  width: 100%;
  height: 100%;
  color: #CAD5E2;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}