@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.bg-color-img {
  width: 100%;
  height: 100vh;
  background: #26284e;
  background-image: url("../../../image/banner/bg-img.png");
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
}

.slide img {
  padding-right: 30px;
}

.slide {
  transform: scale(0);
  transition: transform 1800ms;
  /* opacity: 1.5; */
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.img img {
  width: 380px;
}

.blog-style h1 {
  font-weight: 750;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.welcome {
  color: rgb(235, 235, 91);
  font-size: 55px;
}

.warehouse {
  color: rgb(43, 43, 216);
}

@media only screen and (max-width: 768px) and (min-width: 350px) {
  .img img {
    width: 300px;
  }
  .welcome{
    font-size: 30px;
  }
  .bg-color-img{
   height: 100%;    
  }
  .warehouse {
    font-size: 30px;
  }
  .blog-style h1{
    width: 100%;
    text-align: center;
  }
  .slide img {
    padding-right: 150px;
    justify-content: center;
    align-items: center;
    display: block;
  }
}
